.App {
  font-family: sans-serif;
}
.App body {
  background-color: rgb(237, 246, 250);
}
.App .weather-app-frame {
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  margin: 30px auto;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 30px 50px rgba(105, 96, 128, 0.2);
}
