.Header {
  border-bottom: 1px solid rgba(116, 98, 157, 0.1);
  padding-bottom: 20px;
}
.Header .search-input {
  width: 70%;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  padding: 10px;
  border: none;
  background-color: white;
}
.Header .submit-button {
  width: 26%;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  padding: 10px;
  margin-left: 5px;
  border: none;
  background-color: white;
}
.Header .submit-button:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .Header .search-input {
    font-size: 13px;
  }
  .Header .submit-button {
    font-size: 13px;
  }
}
