.Main .current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.Main .current-city {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  margin: 0;
}
.Main .current-weather-details strong {
  color: rgb(34, 30, 119);
}
.Main .current-temperature {
  display: flex;
}
.Main .current-temperature .emoji {
  font-size: 60px;
  margin-top: 7px;
}
.Main .current-temperature .temperature {
  font-size: 80px;
  line-height: 80px;
  font-weight: 450;
}
.Main .current-temperature .celsius {
  font-size: 25px;
  margin-top: 6px;
}

.Main .forecast {
  display: flex;
  line-height: 25px;
  justify-content: space-between;
  margin-top: 20px;
}
.Main .day-of-week {
  text-align: center;
  color: rgb(67, 67, 67);
}
.Main .day-emoji {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}
.Main .temperature-wrapping {
  display: flex;
  justify-content: space-between;
  color: rgb(34, 30, 119);
}

@media (max-width: 576px) {
  .Main .current-city {
    font-size: 34px;
  }
  .Main .current-weather-details {
    font-size: 12px;
  }

  .Main .current-temperature .emoji {
    font-size: 35px;
    align-self: center;
  }
  .Main .current-temperature .temperature {
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
  }
  .Main .current-temperature .celsius {
    font-size: 18px;
    margin-top: 0;
  }
}
