.Main .header {
  border-bottom: 1px solid rgba(116, 98, 157, 0.1);
  padding-bottom: 20px;
}
.Main .search-input {
  width: 70%;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  padding: 10px;
  border: none;
  background-color: white;
}
.Main .submit-button {
  width: 26%;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  padding: 10px;
  margin-left: 5px;
  border: none;
  background-color: white;
}
.Main .submit-button:hover {
  cursor: pointer;
}

.Main .current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.Main .current-city {
  font-size: 42px;
  font-weight: 600;
  line-height: 68px;
  margin: 0;
}
.Main .current-weather-details strong {
  color: rgb(34, 30, 119);
}
.Main .current-temperature {
  display: flex;
  align-items: center;
}
.Main .current-temperature .emoji {
  width: 75px;
  height: 75px;
}
.Main .current-temperature .temperature {
  font-size: 75px;
  line-height: 75px;
  font-weight: 550;
}
.Main .current-temperature .celsius {
  font-size: 16px;
  align-self: flex-start;
}
.Main .forecast {
  display: flex;
  line-height: 25px;
  justify-content: space-between;
  margin-top: 20px;
}
.Main .day-of-week {
  text-align: center;
  color: rgb(67, 67, 67);
}
.Main .day-emoji {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.Main .temperature-wrapping {
  display: flex;
  justify-content: space-between;
  color: rgb(34, 30, 119);
}

@media (max-width: 576px) {
  .Main .current-city {
    font-size: 34px;
  }
  .Main .current-weather-details {
    font-size: 12px;
  }
  .Main .search-input {
    font-size: 13px;
  }
  .Main .submit-button {
    font-size: 13px;
  }
  .Main .current-temperature .emoji {
    width: 55px;
    height: 55px;
  }
  .Main .current-temperature .temperature {
    font-size: 55px;
    line-height: 55px;
    font-weight: 550;
  }
}
